<kendo-grid [data]="gridData" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChange($event)"
    (add)="addHandler($event)" (edit)="editHandler($event)" (remove)="removeHandler($event)"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增</button>
    </ng-template>
    <kendo-grid-column field="menu_name" title="Menu 群組名稱">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
            <kendo-textbox [value]="dataItem.menu_name" (valueChange)="changeHandler($event, 'menu_name')" size="large"></kendo-textbox>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column [headerStyle]="{'width':'11rem'}" [style]="{'width':'11rem'}">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">編輯</button>
            <button kendoGridRemoveCommand>移除</button>
            <button kendoGridSaveCommand>更新</button>
            <button kendoGridCancelCommand>取消</button>
        </ng-template>
    </kendo-grid-command-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <app-dashboard [items]="dataItem.dashboards" [menuId]="dataItem.menu_id" [menuItems]="items" [menuMode]="true">
        </app-dashboard>
    </div>
</kendo-grid>