<kendo-grid [data]="gridData" [pageable]="true" [pageSize]="pageSize" [skip]="skip"
    [kendoGridReactiveEditing]="createFormGroup">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增</button>
    </ng-template>
    <kendo-grid-column field="user_name" title="使用者" [width]="350"></kendo-grid-column>
    <kendo-grid-column field="roles" title="角色">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
            <kendo-multiselect [data]="listItems" [(ngModel)]="dataItem.roles"></kendo-multiselect>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <!-- <span *ngFor="let item of dataItem.roles">{{ item }}</span> -->
            <kendo-chip *ngFor="let item of dataItem.roles" [label]="item" [size]="'large'" themeColor="info"></kendo-chip>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column [width]="165">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">編輯</button>
            <button kendoGridRemoveCommand>移除</button>
            <button kendoGridSaveCommand>{{ isNew ? '新增' : '更新' }}</button>
            <button kendoGridCancelCommand>取消</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>   