// Global variables here
$background-color: #D4D6E4;
$info-background: #151950;
$angular-color: #e21e36;
$link-color: #71A6FF;
$white: #FFFFFF;
$box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

$tiger-team: #FF6358;
$lemon-team: #FFD246;
$organic-team: #55AB1D;
$ocean-team: #28B4C8;

$button-background: #3f51b5;