<kendo-grid [data]="gridData" [pageable]="true" [pageSize]="pageSize" [skip]="skip"
    [kendoGridReactiveEditing]="createFormGroup">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增</button>
    </ng-template>
    <kendo-grid-column field="role" title="角色"></kendo-grid-column>
    <kendo-grid-command-column [width]="170">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">編輯</button>
            <button kendoGridRemoveCommand>移除</button>
            <button kendoGridSaveCommand>{{ isNew ? '新增' : '更新' }}</button>
            <button kendoGridCancelCommand>取消</button>
        </ng-template>
    </kendo-grid-command-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <app-dashboard [items]="dataItem.dashboards"></app-dashboard>
    </div>
</kendo-grid>