<kendo-grid [data]="gridData" [pageable]="true" [pageSize]="pageSize" [skip]="skip" (pageChange)="pageChange($event)"
    (add)="addHandler($event)" (edit)="editHandler($event)" (remove)="removeHandler($event)"
    (cancel)="cancelHandler($event)" (save)="saveHandler($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>新增</button>
    </ng-template>
    <kendo-grid-column field="name" title="角色"></kendo-grid-column>
    <kendo-grid-command-column [width]="170">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">編輯</button>
            <button kendoGridRemoveCommand>移除</button>
            <button kendoGridSaveCommand>更新</button>
            <button kendoGridCancelCommand>取消</button>
        </ng-template>
    </kendo-grid-command-column>
    <div *kendoGridDetailTemplate="let dataItem">
        <app-dashboard [roleId]="dataItem.role_id" [items]="dataItem.dashboards"></app-dashboard>
    </div>
</kendo-grid>